.experience hr {
    border-top: 1px solid rgb(32, 119, 190);
    margin-top: 0;
    margin-bottom: 0;
}

.experience h2 {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 0;
    margin-bottom: 5;
    border-bottom: 1.5px solid rgb(32, 119, 190); 
    line-height: 0.7em;
    font-weight: bolder;
}

.experience h2 span {
    background:#fff; 
    padding-right:5px; 
}


.experience mark {
    padding:0;
    color: rgb(32, 119, 190)
}

.experience-entries {
    list-style: none;
}

.experience h4, h5{
    margin-top: 0;
    margin-bottom: 5px;
}

.institution {
    display: flex;
    justify-content: space-between;
}

.institution h5 {
    color:  rgb(32, 119, 190);
    margin-right: 2rem;
    
}

.role h5 {
    margin-right: 2rem;
}

.experience-entries h4{
    text-transform: uppercase;
}

.experience-entries .institution h4 {
    font-weight: bolder;
    font-size: 2rem;
}

.experience-entries .role h4 {
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.role {
    display: flex;
    justify-content: space-between;
}