
.article{
    position: relative;
    font-weight: bolder;
    display: block;
    font-family: 'Ubuntu Mono', monospace;
    color: #323232;
    text-align: justify;
    height: 60vh;
    overflow: hidden;
    background-color: rgb(12, 12, 12);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

@media (max-width: 992px) {
    .article {
        background-color: rgb(12, 12, 12);
    }
}
.animation {
    position: relative;
    margin-top: 8%;
}

/* The typing effect */
@keyframes typing {
    from { width: 0; border-color: orange; }
    to { width: 100%; border-color: orange;}
  }

@keyframes show-component {
      0% {width: 0;}
  }

@-webkit-keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
@keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }




/* .article .sec-hello, .sec-descricao {
    position: relative;
    width: 27vw;
} */

mark {
    background: none;
    color: orange;
}

.animation {
    color: white;
    font-size: 2rem;
    letter-spacing: .15rem;
    border-right: .15rem solid transparent;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    
}
   
.article .sec-hello #hello {
    overflow: hidden;
    font-size: 2rem;
    border-right: .15rem solid transparent;
    white-space: nowrap;
    letter-spacing: .15rem;
    animation:
        typing 1s steps(40, end);
}

.article .sec-nome #nome {
    font-size: 5rem;
    overflow: hidden;
    border-right: .15rem solid transparent;
    white-space: nowrap;
    letter-spacing: .10rem;
    animation: 
        show-component 1.1s step-end,
        typing 1s steps(40, end) 1.1s;
        

}

.article .sec-descricao #descricao {
    font-size: 2rem;
    margin-bottom: 25px;
    overflow: hidden;
    border-right: .15rem solid transparent;
    white-space: nowrap;
    letter-spacing: .15rem;
    animation: 
        show-component 3.1s step-end,
        typing 1s steps(40, end) 2.1s;
}



.article #button-radius {
    display: none;
    background-color: #323232;
    border-radius: 70px;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.article #button-radius a {
    text-decoration: none;
    text-align: center;
    color: #f7f0f0;
}

.article #button-radius:hover {
    background-color: #747373;


}


.social-medias {
    display: flex;
    justify-content: space-around;
    animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.social-medias a{
    margin-top: 20%;
    color: rgba(255, 255, 255, 0.692);
    padding: 10px;
}

.social-medias a:hover {
    color: rgb(255, 255, 255);
}


