.cv-main {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #323232;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: initial;
    margin-left: 5vw;
    margin-top: 2vh;
}

@media (max-width: 992px) {
    .cv-main {
        flex-direction: column;
        margin-left: 0;
        margin-top: 0;
        width: 100vw;
    }
 
    .cv-main .cv-content {
        font-size: 1.5rem;
        margin-left: 2vw;
    }

    .cv-main .cv-content h1 {
        font-size: 3.5rem;
    }

    .cv-main .cv-content h2 {
        font-size: 1.5rem !important;
    }

    .cv-main .cv-content .contact {
        width: 100vw;
        justify-content: center;
    }
    .cv-main .cv-content a {
        font-size: 1rem !important;
        /* overflow: hidden; */
    }

    .cv-main .cv-content i {
        padding-left: 0 !important;
        padding-right: 5px !important;
    }

    .cv-main .cv-content p {
        font-size: 1.5rem ;
    }


    /* .cv-main .cv-content .entries h4 {
        font-size: 1rem !important;
        letter-spacing: 0;
    }

    .cv-main .cv-content .entries h5     {
        font-size: 1rem !important;
    } */





 }
 

.cv-content {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.cv-grid {
    display: grid;
}